{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Django Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'box.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

  </head>
  <body> 
      <div id="header">
        <ul id="control-bar">
          {% if user.is_authenticated %}
            {% if user.is_staff %} <li><a href="{% url 'admin:index' %}">admin</a></li>{% endif %}
              <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">login</a></li>
            {% endif %}
        </ul>
      </div>
      <div id="container">
          <div id="content">
              {% block content %}
              [content will go here]
              {% endblock %}
          </div>
      </div>
    
  </body>
  <footer>

  </footer>
</html>